{% extends "after_login/dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block "title" %}
<title>{{request.user.role}}-book-appointment</title>
{% endblock "title" %}

{% block 'content' %}


<div class="text-center">
    <main class="container register-form">
        <form action="" method="post"> 
            {% if request.user.doctor %}
            <img class="mb-4" src="{{request.user.doctor.profile_pic.url}}" alt="" width="72" height="72">
            {% elif request.user.nurse %}
            <img class="mb-4" src="{{request.user.nurse.profile_pic.url}}" alt="" width="72" height="72">
            {% elif request.user.patient %}
            <img class="mb-4" src="{{request.user.patient.profile_pic.url}}" alt="" width="72" height="72">
            {% endif %}
            {% csrf_token %}
            {{appointment_form|crispy}}
            <button class="w-100 btn btn-lg btn-success" type="submit">حجز</button><br><br>

        </form>
    </main>
</div>
                
{% endblock 'content' %}

