{% extends "after_login/nurse_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block "title" %}
<title>nurse-appointments</title>
{% endblock "title" %}


{% block 'content' %}
<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-lg-12">
            <h1 class="mb-4"> Appointments Management</h1>

            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline mb-3" method='get'>
                        {{appointments.form|crispy}}
                        <button type="submit" class="btn btn-primary">بحث</button>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{% url "book_appointment" %}" class="btn btn-success">إضافة حجز جديد</a>
                </div>
            </div>
            <div class="table-responsive mt-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>المريض</th>
                            <th>الطبيب </th>
                            <th>فترة الكشف</th>
                            <th>تاريخ الحجز </th>
                            <th> الخروج</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments.qs %}
                        <tr>
                            <td> {{appointment.patient.get_name}}</td>
                            <td> {{appointment.doctor.get_name}}</td>
                            <td> {{appointment.appointment_time}}</td>
                            <td> {{appointment.appointment_date}}</td>
                            {% if appointment.is_done %}
                            <td> 
                                <p>تم تصريح الخروج</p>
                            </td>
                            {% else %}
                            <td> 
                                <p>لم يتم تصريح الخروج</p>
                            </td>
                            {% endif %}

                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}

{% block 'section' %}
{% endblock 'section' %}
